<a routerLink="/car-list">Return to List</a>

<div *ngIf="chosenCar"> 
	<div class="row">
		<div class="col-lg-12">
			<h2 class="underline">{{ chosenCar.name|uppercase }} {{ chosenCar.subModel|uppercase }}</h2>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-6">
			<div class="holderCar">
				<img src="./assets/img/{{chosenCar.img}}" class="carDesign">
			</div>		
		</div>
		<div class="col-lg-4">
			<div class="section">
				<label>YEAR :</label> 
				<span>{{chosenCar.details.year}}</span>
			</div>
			<div class="section">
				<label>ENGINE:</label> 
				<span>{{chosenCar.details.engine}}</span>
			</div>
			<div class="section">
				<label>WHY / RATING:</label> 
				<span>{{chosenCar.details.rating}}</span>
			</div>
			<div class="section">
				<label>STARTING PRICE:</label> 
				<span>{{chosenCar.details.price}}</span>
			</div>
		</div>
	</div>
	
</div>
<div *ngIf="!chosenCar"> Didn't Find Car Id In Our System  </div>


